<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>To-Do List</title>
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
</head>
<body>
    <div class="container">
    <h1 style="margin-top: 20px;">To-Do List</h1>

    <!-- add user aunthentication and personalization to each page-->
    <!-- add message before deletion -->
    
    <table style="width:80%" border="1"
    class = "table table-striped table-responsive-md">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Completed</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="task : ${listTasks}">
                <td th:text="${task.id}">1</td>
                <td th:text="${task.title}">Title</td>
                <td th:text="${task.description}">Description</td>
                <td th:text="${task.completed}">Completed</td>
                <td>
                    <a th:href="@{/edit/{id}(id=${task.id})}" class="btn btn-primary">Edit</a> |
                    <a th:href="@{/delete/{id}(id=${task.id})}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>

    <a th:href="@{/add}" class="btn btn-primary btn-sm mb-3" style="text-align: center; " >Add New Task</a>
    </div>
</body>
</html>
